.promotion{
	width: 100vw;
	&::after{
		content: "";
		position: absolute;
		width: 100vw;
		height: 70px;
		background-image: url(/public/images/promotiondown.png);
		background-repeat: repeat-x;
	}
	&::before{
		translate: 0 -70px;
		content: "";
		position: absolute;
		width: 100vw;
		height: 70px;
		background-image: url(/public/images/promorionup.png);
		background-repeat: repeat-x;
	}
	background-color: black;
	&__flex {
		display: flex;
		flex-direction: column;
		width: 100vw;
		background-color: inherit;
		align-items: center;
		&__content {
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-top: 15px;
			margin-bottom: 70px;
			background-color: inherit;
			max-width: 1280px;
			display: flex;
			flex-direction: column;
			background-color: inherit;
			&__header {
				background-color: inherit;
				display: flex;
				flex-direction: row;
				align-items: end;
				&-img {
					background-color: inherit;
				}
				&-text {
					color: white;
					background-color: inherit;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					font-size: var(--header);
					margin-left: 32px;
					margin-bottom: 14px;
				}
			}
			&__paragraph {
				margin-top: 25px;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 400;
				line-height: 34px;
				background-color: inherit;
				color: #FFF;
				width: 70%;
				&-blue {
					color: #52BEDC;
					background-color: inherit;
				}
			}
			&__flex {
				background-color: inherit;
				display: flex;
				flex-direction: row;
				margin-top: 25px;
				&__form {
					background-color: inherit;
					display: flex;
					flex-direction: column;
					gap: 35px;
					margin-top: 75px;
					width: 460px;
					&-input {
						background-color: inherit;
						padding-bottom: 13px;
						color: #777777;
						font-family: Roboto;
						font-size: 18px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
						border-bottom: solid #777777 2px;
						transition-duration: 0.5s;
						&:focus {
							color: white;
							border-bottom: solid white 2px;
						}
					}
					&__file {
						border: dashed #777777 1px;
						width: 100%;
						background-color: inherit;
						height: 120px;
						width: 458px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						&-input {
							opacity: 0;
							position: absolute;
							width: 460px;
							height: fit-content;
							height: 120px;
						}
						&-text {
							background-color: inherit;
							text-align: center;
							width: 100%;
							color: #FFF;
							font-family: Roboto;
							font-size: 18px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
							text-decoration-line: underline;
						}
						&-extensios{
							background-color: inherit;
							text-align: center;
							color: #FFF;
							font-family: Roboto;
							font-size: 12px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
						}
					}
					&-button {
						padding-left: 50px;
						padding-right: 50px;
						padding-top: 15px;
						padding-bottom: 15px;
						background-color: var(--yellow);
						color: black;
						width: fit-content;
						font-family: Roboto;
						font-size: 18px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}
					&__checkbox {
						background-color: inherit;
						display: flex;
						justify-content: center;
						width: fit-content;
						user-select: none;
						&-text {
							padding-top: 3px;
							background-color: inherit;
							color: white;
							font-family: Roboto;
							font-size: 12px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
						}
						&-inputHelp {
							height: 14px;
							width: 14px;
							margin-right: 14px;
							margin-bottom: 4px;
							border: 1px solid gray;
							display: inline-block;
							position: relative;
							background-color: black;
						}
						[type=checkbox]:checked + &-inputHelp:before {/* <-- ставим иконку, когда чекбокс включен  */
							content: '';
							position: absolute;
							width: 14px;
							height: 14px;
							background-repeat: no-repeat;
							background-position: center;
							background-image: url(/public/images/check.svg);
						}
					}
				}
				&-img {
					background-color: inherit;
					margin-left: 32px;
					width: 788px;
					height: 456px;
					background-image: url(/public/images/PS5XBOXX.png);
				}
			}
		}
	}
	
}